.projectsFilterNavWrapper > div {
  position: relative;
  width: 50%;
  margin: 0px auto;
  display: grid;
  /* grid-template-columns: minmax(50px, 25%) minmax(50px, 25%) minmax(50px, 25%); */
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

.projectsFilterNavWrapper {
  position: relative;
  border-bottom: 2px ridge #446178;
}

.btnFilterNav {
  border-bottom: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 1.2svw;
  background: transparent;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  cursor: pointer;
}

.btnFilterNav.active {
  background: #446178;
  color: #fff;
  transform: scale(1.1, 1.1);
  border: 0;
}

@media (max-width: 767px) {
  .btnFilterNav {
    font-size: 2svw;
    word-wrap: break-word;
    width: 20svw;
  }
}
