.skill {
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  height: 20px;
  margin-bottom: 5px;
  border-radius: 25px;
  box-shadow: 1px 1px 4px #000;
}

.skilltitle {
  position: relative;
  opacity: 1;
  transform: scale(0.1, 0.1);
}

@keyframes skilltitle-fade-in {
  from {
    opacity: 0%;
    transform: scale(0.1, 0.1);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.html {
  position: relative;
  width: 0%;
  background: #e54c21;
  animation: 0.7s html-left-to-right ease-in-out forwards;
}

.css {
  position: relative;
  width: 0%;
  background: #254bdd;
  animation: 0.7s css-left-to-right ease-in-out forwards;
}
.php {
  width: 0%;
  background: #4d588e;
  animation: 0.7s php-left-to-right ease-in-out forwards;
}

.mysql {
  width: 0%;
  background: #42759c;
  animation: 0.7s mysql-left-to-right ease-in-out forwards;
}

.javascript {
  width: 0%;
  background: #efd81d;
  animation: 0.7s js-left-to-right ease-in-out forwards;
}

.react {
  width: 0%;
  background: #087a9f;
  animation: 0.7s react-left-to-right ease-in-out forwards;
}

.wordpress {
  width: 0%;
  background: #30353a;
  animation: 0.7s wordpress-left-to-right ease-in-out forwards;
}

.opencart {
  width: 0%;
  background: #32c1ed;
  animation: 0.7s opencart-left-to-right ease-in-out forwards;
}
