@font-face {
  font-family: "Manrope";
  src: local("Manrope-Light"),
    url("https://nikchristwebsite.netlify.app/fonts/Manrope-Light.ttf")
      format("truetype");
}

@font-face {
  font-family: "Cormorant";
  src: local("Cormorant-Light"),
    url("https://nikchristwebsite.netlify.app/fonts/Cormorant-Light.ttf")
      format("truetype");
}

/* @font-face {
  font-family: "Manrope";
  src: local("Manrope-Light"),
    url("./fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant";
  src: local("Cormorant-Light"),
    url("./fonts/Cormorant-Light.ttf") format("truetype");
} */

* {
  font-family: "Manrope";
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100svh;
  display: grid;
  grid-template-columns: 20% 80%;
  z-index: 200;
  opacity: 0.87;
}

.pagetitles {
  font-family: "Cormorant" !important;
  width: 90%;
  margin: 20px auto;
  transform: translateX(5%);
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #6e94b8 0%,
    rgb(48, 62, 109),
    #030d1f 67%,
    #060513 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 60px;
}

.content {
  position: relative;
  background: #c1e3ff;
  /* animation: 0.7s grow-to-bottom linear forwards;
  animation-delay: 0.5s; */
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}

header {
  text-align: center;
  align-items: center;
  position: relative;
  height: 100svh;
  background: rgb(78, 111, 138);
  animation: 0.7s grow-to-bottom linear;
}

@keyframes grow-to-bottom {
  from {
    height: 0;
  }
  to {
    height: 100svh;
  }
}

.pagetitles-wrapper {
  position: relative;
  width: 90%;
  text-align: center;
}

.pagetitles {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #6e94b8 0%,
    rgb(48, 62, 109),
    #030d1f 67%,
    #060513 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  z-index: 150;
  opacity: 1;
}

a {
  transition: 0.4s ease-in-out;
}

.active {
  color: rgb(181, 196, 230) !important;
}

.loader-wrapper {
  position: relative;
  width: 2%;
  margin: 50px auto;
  align-content: center;
}

.loader-wrapper p {
  text-align: center;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: rgb(78, 111, 138);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.socialIconsWrapper {
  margin: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footerBar {
  background: #658299;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .toggleNavButton {
    color: #fff;
    padding-bottom: 10px;
    cursor: pointer;
  }
  main {
    grid-template-columns: auto;
    height: auto;
  }

  html,
  body {
    overflow-y: scroll;
    width: 100vw;
  }

  header {
    height: auto;
  }
  .pagetitles {
    font-size: 28px;
  }

  footer {
    text-align: center;
  }
}
